<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-bg">
        </div>
        <div class="popup-title">
            <span>Big sale on <strong>Black Friday</strong></span>
        </div>
        <div class="popup-description">
            <span>Subscribe to our newsletter</span>
        </div>
        <div class="popup-action">
            <input class="popup-newsletter" type="text" name="name" required placeholder="Enter your name"/>
            <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
            <button id="popup-submit-button" title="Subscribe">
                <strong>Subscribe now</strong>
            </button>
        </div>
    </div>
</div>