<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">
            <span>Spring sale</span>
        </div>
        <div class="popup-description">
            <span>Subscribe and get exclusive offer!</span>
        </div>
        <div class="popup-action">
            <input class="popup-newsletter" type="text" name="name" required placeholder="Enter your name"/>
            <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
            <button id="popup-submit-button" title="Subscribe">
                <strong>Subscribe now</strong>
                <i style="margin-left: 15px;" class="fa fa-chevron-right"><span class="label">chevron right</span> </i>
            </button>
        </div>
    </div>
</div>