<div class="popup-bg"></div>
<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">
            <span>Stay on the Top of</span>
            <p>The Latest Trends</p>
        </div>
        <div class="popup-description">
            <p>Recipes, news, advice and much more!</p>
        </div>
        <div class="popup-action">
            <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
            <button id="popup-submit-button" title="Subscribe">
                <strong>Join now</strong>
            </button>
        </div>
        <div class="popup-bottom">
            <span id="no-button">No, thanks</span>
        </div>
    </div>
</div>