<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-bg"></div>
        <div class="popup-title">Join us</div>
        <div class="popup-description"><span>Join our member club today and get updates of new product & special offer</span></div>
        <div class="popup-action">
            <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
            <button id="popup-submit-button" title="Subscribe">
                <strong>Subscribe now</strong>
            </button>
        </div>
    </div>
</div>