<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">Get a $20 voucher</div>
        <div class="popup-description">
            For your first rental and get access to the latest arrivals and news.
        </div>
        <div class="popup-action">
            <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
            <button id="popup-submit-button" title="Subscribe">
                <strong>Get your free $20 voucher</strong>
            </button>
        </div>
    </div>
</div>