<div class="popup-step-1">
    <div class="popup-bg"></div>
    <div class="popup-content">
        <div class="popup-title">
            <span>NEW DESIGN STUDIO</span>
            <strong>Interior Design</strong>
            <div class="line-center"></div>
        </div>
        <div class="popup-description">
            <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</span>
        </div>
        <div class="popup-action">
            <div class="subscribe-text"><span>Subscribe </span></div>
            <div class="popup-subscribe">
                <input class="popup-newsletter" type="text" name="name" required placeholder="Your name"/>
                <input class="popup-newsletter" type="email" name="email" required placeholder="Your e-mail">
                <button id="popup-submit-button" title="Subscribe">
                    <strong>Subscribe now</strong>
                    <i style="margin-left: 15px;" class="fa fa-chevron-right"><span class="label">chevron right</span> </i>
                </button>
            </div>
        </div>
    </div>
</div>