<div class="popup-bg"></div>
<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">
            <span>Like Us!</span>
        </div>
        <div class="popup-description">
            <div class="action-social">
                <div class="social-elm social-face">
                    <button>
                        <a href="https://www.facebook.com">
                            <i class="fa fa-facebook"><span class="label">face</span> </i>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-twitter">
                    <button>
                        <a href="https://twitter.com/?lang=vi">
                            <i class="fa fa-twitter"><span class="label">twitter</span></i>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-youtube">
                    <button>
                        <a href="https://www.youtube.com/?gl=VN">
                            <i class="fa fa-youtube"><span class="label">youtube</span></i>
                        </a>
                    </button>
                </div>
            </div>
            <div class="subscribe-text">
                <span>or</span>
                <span class="subscribe">Subscribe</span>
            </div>
        </div>
        <div class="popup-action">
            <div class="subscribe-top">
                <div class="popup-email">
                    <input class="popup-newsletter" name="email" type="email" id="popup-newsletter" placeholder="Your Email"/>
                    <div class="icon-email"><i class="fa fa-envelope-o"><span class="label">mail</span> </i></div>
                </div>
                <div class="action-subscribe">
                    <button id="popup-submit-button" class="action subscribe primary" title="Subscribe" type="submit">
                        <strong>Subscribe Now</strong>
                        <i style="margin-left: 10px;" class="fa fa-arrow-circle-right"><span class="label">circle</span></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>