<div class="popup-step-1">
    <div class="popup-bg"></div>
    <div class="popup-content">
        <div class="popup-title">Hey Good Looking!</div>
        <div class="popup-description">
            Here is your <strong>10% Discount</strong> to get yourself something new:
        </div>
        <div class="popup-action">
            <input class="popup-newsletter" type="email" name="email" required placeholder="Enter your e-mail">
            <div class="popup-sex">
                <input class="popup-newsletter" type="radio" value="men">Men
                <input class="popup-newsletter" type="radio" value="women">Women
                <input class="popup-newsletter" type="radio" value="women">Not Specified
            </div>
            <button id="popup-submit-button" title="Subscribe">
                <strong>Get your coupon</strong>
            </button>
        </div>
    </div>
</div>