<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">
            <span>Would you like</span>
            <strong>50% Off</strong>
        </div>
        <div class="popup-description">
            <p>on any autumn collections with this code:</p>
            <strong>New50</strong>
        </div>
        <div class="popup-action">
            <div class="action-yes" id="yesbutton"><button id="popup-action-yes" class="yes">Yes Please</button></div>
            <div class="action-no" id="no-button"><button id="popup-action-no" class="no">No Thanks</button></div>
        </div>
    </div>
</div>