<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title"><i class="fa fa-lock" aria-hidden="true" style="margin-right: 15px"><span class="label">lock</span></i>Age Verification</div>
        <div class="popup-description">You must be 18 in order to access this website. Are you 18 years of age or older?</div>
        <div class="popup-action">
            <div class="action-yes" id="yesbutton"><button id="popup-action-yes" class="yes">Yes, I am 18</button></div>
            <div class="action-no" id="nobutton"><button id="popup-action-no" class="no">No, I am leaving</button></div>
        </div>
    </div>
</div>