<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magenest\Popup\Model\ResourceModel\Template\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_popup_templates</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Popup\Model\ResourceModel\Template</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_popup_template_listing_data_source" xsi:type="string">Magenest\Popup\Model\ResourceModel\Template\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magenest\Popup\Model\ResourceModel\Popup\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_popup</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Popup\Model\ResourceModel\Popup</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_popup_popup_listing_data_source" xsi:type="string">Magenest\Popup\Model\ResourceModel\Popup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>