    <div class="popup-step-1">
        <div class="popup-content">
            <div class="popup-title">
                <span>New Product comes up!</span>
            </div>
            <div class="popup-description">
                <span>Be first to find out when it is available!</span>
            </div>
            <div class="popup-category">
                <div class="category-home">
                    <button><a href=""><span>Home</span></a> </button>
                </div>
                <div class="category-contact-us">
                    <button><a href=""><span>Contact Us</span></a> </button>
                </div>
            </div>
            <div class="action-social">
                <div class="social-elm social-face">
                    <button>
                        <a href="https://www.facebook.com/">
                            <span><i class="fa fa-facebook" aria-hidden="true"><span class="label">facebook</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-twitter">
                    <button>
                        <a href="https://twitter.com/">
                            <span><i class="fa fa-twitter" aria-hidden="true"><span class="label">twitter</span> </i></span>
                        </a>
                    </button>
                </div>
                <div class="social-elm social-instagram">
                    <button>
                        <a href="https://www.instagram.com/">
                            <span><i class="fa fa-instagram" aria-hidden="true"><span class="label">instagram</span> </i></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
