<div class="popup-step-1">
    <div class="popup-box-1">
        <div class="popup-content">
            <div class="popup-title">
                <span class="title-top">Free Diet</span>
                <span class="title-bottom">Meal Plan</span>
            </div>
            <div class="popup-description">Low-Carb Recipes You will Fall For!</div>
            <div class="popup-cursor-pointer">
                <button class="cursor-pointer"> Contact Us </button>
            </div>
        </div>
    </div>
    <div class="popup-box-2">
        <div class="popup-content">
            <div class="popup-title">
                <div class="title-left">Free</div>
                <div class="title-right">
                    <div class="title-right-top">Meal Plan</div>
                    <div class="title-right-bottom">For you</div>
                </div>
            </div>
            <div class="popup-description">Enter your email and download it today for free! World is waiting for you!</div>
            <div class="popup-action">
                <input id="popup-newsletter" class="popup-newsletter" name="email" type="email" placeholder="Your E-mail">
                <button id="popup-submit-button" class="action subscribe primary" title="Subscribe" type="submit">
                    <strong>Get your plan<span>
                </button>
            </div>
        </div>
    </div>
</div>