<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">
            <span>Contact Us</span>
        </div>
        <div class="popup-description">
            <p>We are waiting for your feedback and comment.</p>
            <p>Feel free to <strong>contact us </strong>anytime.</p>
        </div>
        <div class="popup-action">
            <div class="popup-name">
                <input type="text" class="popup-newsletter" placeholder="Name and surname" required="" name="name" value="" id="form-popup-name">
            </div>
            <div class="popup-email">
                <input name="email" class="popup-newsletter" type="email" id="popup-newsletter" placeholder="E-mail"/>
            </div>
            <div class="feedback-content">
                <textarea class="popup-newsletter" placeholder="Your feedback" name="comment"></textarea>
            </div>
            <div class="popup-subscribe-bottom">
                <div class="popup-text-accept">
                    <span>You are accepting terms of <strong><span>Service Agreement</span></strong></span>
                </div>
                <div class="popup-send-feedback">
                    <button class="send-feedback" id="popup-submit-button">
                        <strong>Send now</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>