<div class="popup-bg"></div>
<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-title">
            <span> Contact us</span>
        </div>
        <div class="popup-description">
            <span>Leave us your phone and we will call you back!</span>
        </div>
        <div class="popup-action">
            <div class="popup-action-elm">
                <input class="popup-newsletter" type="text" name="name" placeholder="Your name"/>
            </div>
            <div class="popup-action-elm">
                <input class="popup-newsletter" type="email" name="email" placeholder="Your email"/>
            </div>
            <div class="popup-action-elm">
                <input class="popup-newsletter" type="text" name="phone" placeholder="Your phone"/>
            </div>
            <textarea placeholder="Your message" required="" name="msg" class="popup-newsletter"></textarea>
            <button id="popup-submit-button" title="Subscribe">
                <strong>Contact us</strong>
            </button>
        </div>
    </div>
</div>