<div class="popup-step-1">
    <div class="popup-content">
        <div class="popup-bg"></div>
        <div class="popup-title">
            <div class="title-elm">Black</div>
            <div class="title-elm">Friday</div>
            <div class="title-elm">Sale!</div>
        </div>
        <div class="popup-description">
            <div class="description-top">Discounts up to 50% off all clothing and accessories.</div>
            <div class="description-bottom">Hurry, sale starts on friday, nov 23, 2019!</div>
        </div>
    </div>
</div>